<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NMap.Properties.Settings>
            <setting name="ShowMapGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BottomAxes" serializeAs="String">
                <value>CD</value>
            </setting>
            <setting name="MDInverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CDInverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefectSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="Initial" serializeAs="String">
                <value>True</value>
            </setting>
        </NMap.Properties.Settings>
    </userSettings>
</configuration>